<ion-header [translucent]="true">
  <ion-toolbar id="titlebar">
    <ion-img src="/assets/images/app_icon_lightning_24.png" class="titlebar-img"></ion-img>
    <ion-title>Yash's Quick Launch App</ion-title>
  </ion-toolbar>
</ion-header>

<app-widget avatar="tim_hortons" cardTitle="Tim Hortons Rewards">
  <app-scannable-content collapsed=true barcodePath="/assets/images/tim-hortons-rewards-qr.png"></app-scannable-content>
</app-widget>

<app-widget avatar="pc_optimum" cardTitle="PC Optimum Rewards"></app-widget>
